@import '_terms';

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.btn--twitter {
  background: #1da1f2;

  &:hover {
    background: darken($color: #1da1f2, $amount: 10%)
  }
}